# History files
.Rhistory

# Example code in package build process
*-Ex.R

.DS_Store

.Rproj.user
.Rhistory
gstudio.html
gstudio.md
ggmapTemp.png
figure/
gstudio.Rcheck/
gstudio_*.tar.gz
gstudio/man/

README.html

gstudio/inst/doc/Popgraph.log
gstudio/inst/doc/Popgraph.pdf
gstudio/inst/doc/Popgraph-concordance.tex
gstudio/inst/doc/Popgraph.synctex.gz
gstudio/inst/doc/Popgraph.tex
gstudio/inst/doc/figure/
gstudio/inst/doc/cache/


