# History files
.Rhistory

# Example code in package build process
*-Ex.R

.DS_Store
inst/tests/ggmapTemp.png
ggmapTemp.png
.Rproj.user
.Rhistory
gstudio.html
gstudio.md
gstudio.Rproj
figure/
gstudio.Rcheck/
gstudio_*.tar.gz
gstudio/man/*
man/*
*.Rd


README.html

gstudio/inst/doc/gstudio.pdf
gstudio/inst/doc/gstudio.log
gstudio/inst/doc/gstudio-concordance.tex
gstudio/inst/doc/gstudio.synctex.gz
gstudio/inst/doc/gstudio.tex
gstudio/inst/doc/figure/
gstudio/inst/doc/cache/


