body {
  padding: 30px;
  max-width: 900px;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "Sans Serif"; 
  font-size: 0.95em; 
  line-height: 1.25em;
}


h1 {
  font-size: 24pt;
  color: #0489B7;
}

h2 {
  padding-top: 20pt;
  color: #D05C00;
}

h3 {
  padding-top: 1.5em; 
  
}

a {
  color: #394250;
	text-decoration: none;
	font-weight: bold;
}

a:hover { 
  color: #c00;
}


table { 
  margin-left:auto; 
  margin-right:auto;
}


th {
  font-size: 10pt;
  font-weight: bold;
}

td { 
  font-size: 10pt;
}

code.r {
	font-size: 10pt;
}

pre code {
	font-size: 10pt;
}


div.sidebar {
  background-color: #eeeeee;
  border-radius: 5px;
  line-height: 130%;
  font-size: smaller;
}


div.content {
  
}