export(alleles)
export(as.locus)
export(column_class)
export(cov_2_dist)
export(Dest)
export(dist_2_cov)
export(dist_amova)
export(dist_bray)
export(dist_cavalli)
export(dist_jaccard)
export(dist.nei)
export(Fis)
export(frequencies)
export(genetic_distance)
export(genetic_structure)
export(Gst_prime)
export(Gst)
export(He)
export(Ho)
export(indices)
export(is.frequency)
export(is.heterozygote)
export(is.locus)
export(locus)
export(partition)
export(pies_on_map)
export(ploidy)
export(plot_frequencies)
export(population_map)
export(read.population)
export(strata_coordinates)
export(structure_statistic)
export(surface.point.plot)
export(to_mv)
S3method("-",locus)
S3method("[",locus)
S3method("+",locus)
S3method(alleles,default)
S3method(alleles,locus)
S3method(as.data.frame,genetic_structure)
S3method(as.data.frame,locus)
S3method(as.list,locus)
S3method(c,locus)
S3method(frequencies,data.frame)
S3method(frequencies,locus)
S3method(is.na,locus)
S3method(plot,data.frame)
S3method(plot,genetic_distance)
S3method(plot,locus)
S3method(plot,structure_statistic)
S3method(print,locus)
S3method(print,structure_statistic)
S3method(summary,locus)
S3method(to_mv,data.frame)
S3method(to_mv,default)
S3method(to_mv,locus)
